
code\ examples/*.png
code\ examples/*.gif
*.png
*.gif
figures/*.png
.idea
__pycache__
lab/.ipynb_checkpoints/
code\ examples/.ipynb_checkpoints/
dontaddme.*
**__pycache__
**.ipynb_checkpoints
./misc_and_tests/
./misc_and_tests/*
./misc_and_tests

